.TitleBar {
  height: 12vh;
  text-align: center;
  background-color: rgb(69, 209, 225);
  color: white;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(181, 181, 181);
}

.TitleBar h3 {
  font-size: 45px;
  font-family: Consolas;

  margin-bottom: auto;
}

.NavBar {
  background-color: rgb(162, 212, 218);
  border-right-style: solid;
  border-width: 1px;
  border-color: rgb(181, 181, 181);
  height: 100vh;
}

.MainPage {
  font-family: Consolas;

  background-color: white;
  height: 88vh;
}

.leftBar {
  padding-top: 10px;
  background-color: white;
  height: 88vh;
  overflow: auto;
  float: left;
}

.leftBar h3 {
  color: rgb(95, 95, 95) !important;
  margin-top: 20px;
}
.leftBar p {
  color: rgb(95, 95, 95) !important;
  font-size: 1.75rem;
}

.LeftSubBar {
  border-top-style: solid;
  border-width: 1px;
  border-color: rgb(181, 181, 181);
  margin-top: 2rem;
  padding-top: 2rem;
}

.rightBar {
  padding-top: 10px;
  background-color: white;
  height: 88vh;
  overflow: auto;
  float: left;
  border-left-style: solid;
  border-width: 1px;
  border-color: rgb(181, 181, 181);
}

.rightBar h3 {
  color: rgb(106, 106, 106);
  margin-top: 20px;
  margin-left: 20%;
  font-size: 35px;
  font-family: Consolas;
}

.TaskInput {
  width: 80%;
}

.RadioInput {
  width: 20px;
}

.TaskTable {
  padding-top: 10px;
  font-family: Consolas;
  background-color: white;
  color: rgb(106, 106, 106);
  overflow: auto;
  font-size: 20px;
}
.TaskTable li {
  margin-top: 10px;
  margin-left: 10px;
}

.btn-primary {
  margin: 5px;
}

.clockContainer {
  border-bottom: 0.5px solid rgb(106, 106, 106);
}
.counterContainer {
  display: flex;
  background-color: white;
  width: 80%;
  padding: 0.5rem;
  justify-content: center;
  font-size: 2rem;
  margin: 2rem;
  border: solid 0.5px rgb(106, 106, 106);
}

.buttonsContainer {
  flex-wrap: wrap;

  display: flex;
  justify-content: left;
}

.buttonContainer {
  display: flex;
  padding: 0.5rem;
  justify-content: center;
}

.buttonsContainer button {
  margin: 2px;
  padding: 3px 6px;
}

.NavbarProper {
  border-top: solid 0.5px rgb(106, 106, 106);
  list-style-type: none;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.LandingPage {
  font-size: 1.5rem;
}
